name: insecureskiptlsverify
kubernetesVersion: 1.32
workerNodes: 1
controlPlaneNodes: 1
virtualIp: $OLVM_VIRTUAL_IP
provider: olvm
proxy:
  httpsProxy: $OLVM_HTTPS_PROXY
  httpProxy: $OLVM_HTTP_PROXY
  noProxy: $OLVM_NO_PROXY
providers:
  olvm:
    namespace: $OLVM_CLUSTER_NAMESPACE
    olvmDatacenterName: $OLVM_DATACENTER_NAME
    olvmOvirtAPIServer:
      serverURL: $OLVM_SERVER_URL
      credentialsSecret:
        name: insecureskiptlsverify-creds
        namespace: $OLVM_CLUSTER_NAMESPACE
      insecureSkipTLSVerify: true
    olvmOCK:
      storageDomainName: $OLVM_STORAGE_DOMAIN_NAME
      diskName: $OCNE_OCK_DISK_NAME
      diskSize: 20GB
    controlPlaneMachine:
      olvmOvirtClusterName: Default
      vmTemplateName: $OLVM_VM_TEMPLATE_1_32
      olvmNetwork:
        networkName: $OLVM_NETWORK_NAME
        vnicName: $OLVM_NETWORK_VNIC_NAME
        vnicProfileName: $OLVM_NETWORK_NAME
      virtualMachine:
        memory: "7GB"
        network:
          gateway: $OLVM_NETWORK_GATEWAY_IP
          interface: $OLVM_NETWORK_INTERFACE
          interfaceType: $OLVM_NETWORK_INTERFACE_TYPE
          ipv4:
            subnet: $OLVM_SUBNET/24
            ipAddresses: $OLVM_STARTING_IPV4_ADDRESS_CP-$OLVM_ENDING_IPV4_ADDRESS_CP
          networkName: $OLVM_NETWORK_NAME
    workerMachine:
      olvmOvirtClusterName: Default
      vmTemplateName: $OLVM_VM_TEMPLATE_1_32
      olvmNetwork:
        networkName: $OLVM_NETWORK_NAME
        vnicName: $OLVM_NETWORK_VNIC_NAME
        vnicProfileName: $OLVM_NETWORK_NAME
      virtualMachine:
        memory: "16GB"
        network:
          gateway: $OLVM_NETWORK_GATEWAY_IP
          interface: $OLVM_NETWORK_INTERFACE
          interfaceType: $OLVM_NETWORK_INTERFACE_TYPE
          ipv4:
            subnet: $OLVM_SUBNET/24
            ipAddresses: $OLVM_STARTING_IPV4_ADDRESS_W-$OLVM_ENDING_IPV4_ADDRESS_W
          networkName: $OLVM_NETWORK_NAME
    ovirtCsiDriver:
      install: true
extraIgnitionInline: |
  variant: fcos
  version: 1.5.0
  storage:
    files:
    - path: /etc/resolv.conf
      mode: 0644
      overwrite: false
      contents:
        inline: |
          nameserver $NAMESERVER_IP
