name: 1cp3workerlatest
workerNodes: 3
controlPlaneNodes: 1
virtualIp: $OLVM_VIRTUAL_IP
provider: olvm
providers:
  olvm:
    namespace: olvm-cluster
    proxy:
      HttpsProxy: $OLVM_HTTPS_PROXY
      HttpProxy: $OLVM_HTTP_PROXY
      NoProxy: $OLVM_NO_PROXY
    olvmDatacenterName: $OLVM_DATACENTER_NAME
    olvmOvirtAPIServer:
      serverURL: $OLVM_SERVER_URL
      serverCAPath: $OLVM_CA_CERT_PATH
      credentialsSecret:
        name: 1cp3workerlatestlatest-creds
        namespace: olvm-cluster
      caConfigMap:
        name: 1cp3workerlatest-ca
        namespace: olvm-cluster
      insecureSkipTLSVerify: false
    controlPlaneMachine:
      olvmOvirtClusterName: Default
      vmTemplateName: $OLVM_VM_TEMPLATE
      olvmNetwork:
        networkName: $OLVM_NETWORK_NAME
        vnicName: $OLVM_NETWORK_VNIC_NAME
        vnicProfileName: $OLVM_NETWORK_NAME
      virtualMachine:
        memory: "7GB"
        network:
          gateway: $OLVM_NETWORK_GATEWAY_IP
          interface: $OLVM_NETWORK_INTERFACE
          interfaceType: $OLVM_NETWORK_INTERFACE_TYPE
          ipv4:
            subnet: $OLVM_SUBNET/24
            ipAddresses: $OLVM_STARTING_IPV4_ADDRESS_CP-$OLVM_ENDING_IPV4_ADDRESS_CP
          networkName: $OLVM_NETWORK_NAME
    workerMachine:
      olvmOvirtClusterName: Default
      vmTemplateName: $OLVM_VM_TEMPLATE
      olvmNetwork:
        networkName: $OLVM_NETWORK_NAME
        vnicName: $OLVM_NETWORK_VNIC_NAME
        vnicProfileName: $OLVM_NETWORK_NAME
      virtualMachine:
        memory: "16GB"
        network:
          gateway: $OLVM_NETWORK_GATEWAY_IP
          interface: $OLVM_NETWORK_INTERFACE
          interfaceType: $OLVM_NETWORK_INTERFACE_TYPE
          ipv4:
            subnet: $OLVM_SUBNET/24
            ipAddresses: $OLVM_STARTING_IPV4_ADDRESS_W-$OLVM_ENDING_IPV4_ADDRESS_W
          networkName: $OLVM_NETWORK_NAME
    ovirtCsiDriver:
      install: false
extraIgnitionInline: |
  variant: fcos
  version: 1.5.0
  storage:
    files:
    - path: /etc/resolv.conf
      mode: 0644
      overwrite: false
      contents:
        inline: |
          nameserver $NAMESERVER_IP
